# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
ENV/

# Node.js
node_modules/

# Environment Files
.env
.env.local
.env.*

# Secrets, Passwords, API Keys, Tokens
*password*
*secret*
*token*
*key*
*credential*
*.pem
*.key
*.pub
*.cert
*.pfx
*.p12

# OS / System
.DS_Store
Thumbs.db
